/*==========================================================================================*/
/* General Styles */

.logo {
    width: 100%;
    height: 100%;
}

.navbar-nav,
.me-auto {
    flex: 1;
    display: flex;
    justify-content: end;
}

.navbar-brand {
    width: 10%;
}

.button-Shadow {
    box-shadow: 5px 5px 4px rgb(83, 83, 83);
}

.button-Shadow:hover {
    box-shadow: 0px 0px 0px black;
    color: rgb(255, 255, 255) !important;
    background-color: #0d6efd !important;
    border: none;
    border-radius: 8px !important;
}

/* Slides Swiper */

.slide-container {
    max-width: 95%;
    width: 100%;
    padding: 40px 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.slide-content {
    height: 480px;
    margin: 0 40px;
    overflow: hidden;
}

.imgcard {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.swiper-button-next {
    --swiper-navigation-size: 35px;
    --swiper-navigation-color: #ffffff;
    background-color: #0d6efd;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 4px 3px 4px rgb(83, 83, 83);
}

.swiper-button-next:hover {
    --swiper-navigation-size: 33px;
    --swiper-navigation-color: #ffffff;
    background-color: #0d6efd;
    border-radius: 0px 10px 10px 0px;
    box-shadow: none;
}

.swiper-button-prev {
    --swiper-navigation-size: 35px;
    --swiper-navigation-color: #ffffff;
    background-color: #0d6efd;
    border-radius: 10px 0px 0px 10px;
    box-shadow: -4px 3px 4px rgb(83, 83, 83);
}

.swiper-button-prev:hover {
    --swiper-navigation-size: 33px;
    --swiper-navigation-color: #ffffff;
    background-color: #0d6efd;
    border-radius: 10px 0px 0px 10px;
    box-shadow: none;
}

/*==========================================================================================*/
/* Page Home and Events*/

.containerCheck {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.d-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.d-item {
    height: 250px;
}

.emptyEvents {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/*==========================================================================================*/
/* Page Contact */

.first-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    min-height: 100vh;
}

/*==========================================================================================*/
/* Page Details */
.sombradetails {
    box-shadow: -4px -2px 15px 1px #000000;
  }
  
  .imgdetail{
    width: 100%;
    height: 420px;
    object-fit: cover;
  }

  .container {
    border: 2px solid rgb(19, 17, 17);
    box-shadow: 3px 3px 6px rgba(241, 143, 143, 0.5);
    border-radius: 10px;
}

/*==========================================================================================*/
/* Page Stats */



/*==========================================================================================*/
